body {
    background-color:blanchedalmond;
}

.answer {
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    text-align: center;
}

.center-block {
    margin: auto;
    display: block;
}

.center-block-input {
    margin: auto;
    display: block;
    text-align: center;
    padding: 15px 15px;
    border-radius: 25px;
    border-color:black;
    font-family:monospace;
}

.center-block-btn {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-family:monospace; 
}
