body {
    background-color:blanchedalmond;
}

table, td, tr {
    border: 1px solid black;
}

#counter {
    position: fixed;
    bottom: 0;
    right: 0;

}

.portfolio {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family:monospace;
}

.answer {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 50%;
    text-align: center;
}

.center-block {
    margin: auto;
    display: block;
}

.center-block-input {
    margin: auto;
    display: block;
    text-align: center;
    padding: 15px 15px;
    border-radius: 25px;
    border-color:black;
    font-family:monospace;
}

.center-block-btn {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-family:monospace; 
}
